<%= form_tag("/venues") do %>
  <p><%= label_tag(:name, "Enter Name:") %>
  <%= text_field_tag(:name) %></p>

  <p><%= label_tag(:description, "Enter Description:") %>
  <%= text_field_tag(:description) %></p>

  <p><%= label_tag(:lat, "Enter Latitude:") %>
  <%= text_field_tag(:lat) %></p>

  <p><%= label_tag(:lon, "Enter Longitude:") %>
  <%= text_field_tag(:lon) %></p>

  <%= submit_tag("Submit") %>
<% end %>