
<h1 class="">Add Venue</h1>
<%= render partial: 'form', locals: { venue: @venue } %>
<h1>Venues List</h1>
<%= link_to 'Create New Venue', new_venue_path %>
<% @venues.each do |venue| %>
	<h1><%=venue.name %></h1>
	<p><%=venue.description %></p>
	<ul>
		<li><%=venue.lat %></li>
		<li><%=venue.lon %></li>
		<li><%=venue.words %></li>
	</ul>
<% end %>
